.loginPage {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 200px;
}

.loginPage button {
	background-color: #4CAF50;
	font-style: bold;
	font-size: 18px;
}

.mainPannel {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	size: 400px;
}

.mainPannel .title {
	font-size: 32px;
}

.postElement {
	border: 3mm ridge rgba(102, 140, 255, .5);
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 20px;
}

.postPublisher {
	color: #778899;
	font-size: 15px;
}

.postDate {
	color: 	#808080;
	font-size: 12px;
}

.postText {
	font-size: 24px;
}